body {
    background-color: rgb(167, 176, 224);
    margin: 0;
}

header {
    background: #00b0d800 url(image/шапка2.png) no-repeat;
    height: 300px;
    position: static;
}

h1 {
    font-size: 280%;
    color:rgb(240, 241, 255);
    font-family: "Cormorant Unicase", serif;
    font-weight: 500;
    font-style: normal;
    margin-bottom: 0;
}

h2 {
    font-size: 220%;
    color:rgb(178, 180, 216);
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    margin: 0 0 3rem 0;
}

h3 {
    font-size: 210%;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    color: rgb(31, 27, 66);
}

p {
    font-size: 150%;
    color: rgb(34, 37, 53);
    font-family: "Raleway", sans-serif;
    font-weight: 300;
}

.nav-items {
    display: flex;
    justify-content: space-around;
    margin: 0 10rem 0 10rem;
    padding-top: 1rem;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
}

nav a {
    color: rgb(138, 142, 206);
    font-size: 150%;
    text-decoration: none;
}

nav a:visited {
    color: rgb(138, 142, 206);
    font-size: 150%;
    text-decoration: none;
}

.title {
    align-items: center;
    margin: 2rem 30% 2rem 30%;
    text-align: center;
}

.name {
    margin-top: 4rem;
}

.container {
    max-width: 75%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-bottom: 1rem;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 150%;
    color: rgb(34, 37, 53);
}

form {
    padding: 3rem;
    background-color: rgb(138, 142, 206);
    border-radius: 10px;
}

.email {
    margin: 2rem 0 1rem 0;
}

.request {
    margin: 2rem 0 2rem 0;
}

button {
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 100%;
    color: rgb(34, 37, 53);
    border: none;
    background-color: rgb(104, 110, 194);
    padding: 1rem;
    border-radius: 10px;
}

button:hover {
    color: aliceblue;
    background-color: rgb(34, 37, 53);
}

label {
    margin-right: 1rem;
}

input {
    padding: 0.5rem;
    border: none;
    border-radius: 10px;
    width: 12rem;
    height: 1.5rem;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 100%;
    
}

footer {
    display: flex;
    justify-content: end;
    float: left;
    margin: 6rem 0 0 0;
}